*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

li{
    list-style: none;
}

/* header */

/* logo section */

.logo-section{
    padding: 5px;
}

.logo-container{
    width: 160px;
    border-right: 2px solid #e5e5e5;
}

#logo{
    height: 60px;
}

/* navbar-section */

nav{
    height: 70px;
    line-height: 70px;
}

nav ul li{
    display:inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
    font-size: 16px;
}

/* jumbotron */

.jumbotron{
    background-color: cornsilk;
    height: 500px;
    margin-top: 10px;
}
/* main */

main{
    background-color: darkmagenta;
    height: 500px;
    margin-top: 20px;;
}

/* section-content */

/* footer */

footer{
    background-color: darksalmon;
    height: 30px;
    margin-top: 20px;
}