*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

li{
    list-style: none;
}

/* header */

/* logo section */

.logo-section{
    padding: 5px;
}

.logo-container{
    width: 190px;
    border-right: 2px solid #e5e5e5;
}

#logo{
    height: 70px;
}

/* navbar-section */

nav{
    height: 70px;
    line-height: 70px;
}

nav ul li{
    display:inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
    font-size: 18px;
}

/* jumbotron */

.jumbotron{
    height: 500px;
    margin-top: 10px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;   
}

.jumbotron-text{
    width: 50%;
    position: absolute;
    bottom: 60px;
    left: 50px;
}

.jumbotron-text span{
    color: white;
    font-size: 18px;
}

h2{
    color: white;
    font-size: 35px ;
}
/* main */

.leadership-section{
    background-color: darkmagenta;
    height: 500px;
    margin-top: 30px;
}

.section-title{
    background-color: gold;
    height: 70px;
}

.col-sx, .col-dx{
    background-color: greenyellow;
    width: 20%;
    height: 50px;
    float:left;
}

.middle-content{
    background-color: green;
    margin: 0 3%;
    height: 70px;
    width: 54%;
    float:left;
}

.section-content{
    margin-top: 20px;
    border: 10px solid red;
}

.section-content::after{
    content: '';
    display: table;
    clear: both;
}

/* section-content */

/* footer */

footer{
    background-color: darksalmon;
    height: 30px;
    margin-top: 20px;
}